In [303]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import sqlite3
import numpy as np

In [253]:

# Load Inpatient Data (Json)
inpatient_2011=pd.read_json('inpatient_2011.json')
inpatient_2012=pd.read_json('inpatient_2012.json')
inpatient_2013=pd.read_json('inpatient_2013.json')

In [254]:
inpatient_2013.head(5)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,icd_category
0,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,12,2618.166667,2986.750000,2007.083333,G81
1,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,12,3136.666667,3754.833333,2871.500000,J02
2,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,11,3215.000000,3685.454545,2939.636364,D28
3,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,26,3240.269231,4103.500000,3264.269231,D31
4,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,14,3678.928571,3825.357143,3068.214286,D18

In [255]:
inpatient_2012.shape

(10000, 12)

In [256]:
#merge the inpatient data
inpatient_df=pd.concat([inpatient_2011,inpatient_2012,inpatient_2013],ignore_index=True)

In [257]:
inpatient_df.shape

(30000, 12)

In [258]:
#Save the inpatient charges data for each year in an inpatient_charges database.
conn=sqlite3.connect('inpatient_charges.sql')
inpatient_2011.to_sql(name='inpatient_charges_2011',con=conn,if_exists='replace',index=False)
inpatient_2012.to_sql(name='inpatient_charges_2012',con=conn,if_exists='replace',index=False)
inpatient_2013.to_sql(name='inpatient_charges_2013',con=conn,if_exists='replace',index=False)
tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tables in the database:", tables)
#conn2.close()

Tables in the database: [('provider_info',), ('provider_infomation',), ('provider_information',), ('inpatient_charges_2011',), ('inpatient_charges_2012',), ('inpatient_charges_2013',)]

In [259]:
#Read the tables in the database to make sure the data was stored properly
in_2011=pd.read_sql_query("SELECT*FROM inpatient_charges_2011",conn)
in_2012=pd.read_sql_query("SELECT * FROM inpatient_charges_2012",conn)
in_2013=pd.read_sql_query("SELECT * FROM inpatient_charges_2013",conn)

In [260]:
in_2013.head(2)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,icd_category
0,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,12,2618.166667,2986.750000,2007.083333,G81
1,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,12,3136.666667,3754.833333,2871.500000,J02

In [261]:
#Read the data in the provided outpatient_charges.db database
#create a connection with the database
conn2=sqlite3.connect('outpatient_charges.db')

In [262]:

# Load Outpatient Data (SQLite Database)
outpatient_2011=pd.read_sql_query("SELECT * FROM outpatient_charges_2011",conn2)
outpatient_2012=pd.read_sql_query("SELECT * FROM outpatient_charges_2012",conn2)
outpatient_2013=pd.read_sql_query("SELECT *FROM outpatient_charges_2013",conn2)

In [263]:
outpatient_2011.head(3)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,outpatient_services,average_estimated_submitted_charges,average_total_payments
0,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0013 - Level II Debridement & Destruction,31,327.515806,49.889032
1,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0015 - Level III Debridement & Destruction,936,299.867992,104.416068
2,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0020 - Level II Excision/ Biopsy,14,5409.921429,527.096429

In [264]:
outpatient_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43372 entries, 0 to 43371
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   provider_id                          43372 non-null  int64
 1   provider_name                        43372 non-null  object
 2   provider_street_address              43372 non-null  object
 3   provider_city                        43372 non-null  object
 4   provider_state                       43372 non-null  object
 5   provider_zipcode                     43372 non-null  int64
 6   apc                                  43372 non-null  object
 7   outpatient_services                  43372 non-null  int64
 8   average_estimated_submitted_charges  43372 non-null  float64
 9   average_total_payments               43372 non-null  float64
dtypes: float64(2), int64(3), object(5)
memory usage: 3.3+ MB

In [265]:
outpatient_2011.shape

(43372, 10)

In [266]:
# Load Provider Info (CSV)
provider_info=pd.read_csv('hospital_general_info.csv')

In [267]:
provider_info.head(2)

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,hospital_type,hospital_ownership,...,readmission_measures_better_count,readmission_measures_no_different_count,readmission_measures_worse_count,readmission_measures_footnote,patient_experience_measures_count,facility_patient_experience_measures_count,patient_experience_measures_footnote,timely_and_effective_care_measures_count,facility_timely_and_effective_care_measures_count,timely_and_effective_care_measures_footnote
0,010018,CALLAHAN EYE HOSPITAL,"1720 UNIVERSITY BLVD, SUITE 500",BIRMINGHAM,AL,35233,Jefferson,(205) 325-8100,Acute Care Hospitals,Voluntary non-profit - Private,...,0,1,0,NaN,8,Not Available,5.0,14,3,NaN
1,010051,GREENE COUNTY HOSPITAL,509 WILSON AVENUE,EUTAW,AL,35462,Greene,(205) 372-3388,Acute Care Hospitals,Government - Local,...,0,1,0,NaN,8,Not Available,5.0,14,3,NaN

In [268]:
provider_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5336 entries, 0 to 5335
Data columns (total 38 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   provider_id                                            5336 non-null   object
 1   hospital_name                                          5336 non-null   object
 2   address                                                5336 non-null   object
 3   city                                                   5336 non-null   object
 4   state                                                  5336 non-null   object
 5   zip_code                                               5336 non-null   int64
 6   county_name                                            5336 non-null   object
 7   phone_number                                           5336 non-null   object
 8   hospital_type                                          5336 non-null   object
 9   hospital_ownership                                     5336 non-null   object
 10  emergency_services                                     5336 non-null   bool
 11  meets_criteria_for_promoting_interoperability_of_ehrs  3886 non-null   object
 12  hospital_overall_rating                                5336 non-null   object
 13  hospital_overall_rating_footnote                       2066 non-null   float64
 14  mortality_group_measure_count                          5336 non-null   object
 15  facility_mortaility_measures_count                     5336 non-null   object
 16  mortality_measures_better_count                        5336 non-null   object
 17  mortality_measures_no_different_count                  5336 non-null   object
 18  mortality_measures_worse_count                         5336 non-null   object
 19  mortaility_group_footnote                              1373 non-null   float64
 20  safety_measures_count                                  5336 non-null   object
 21  facility_care_safety_measures_count                    5336 non-null   object
 22  safety_measures_better_count                           5336 non-null   object
 23  safety_measures_no_different_count                     5336 non-null   object
 24  safety_measures_worse_count                            5336 non-null   object
 25  safety_group_footnote                                  1781 non-null   float64
 26  readmission_measures_count                             5336 non-null   object
 27  facility_readmission_measures_count                    5336 non-null   object
 28  readmission_measures_better_count                      5336 non-null   object
 29  readmission_measures_no_different_count                5336 non-null   object
 30  readmission_measures_worse_count                       5336 non-null   object
 31  readmission_measures_footnote                          983 non-null    float64
 32  patient_experience_measures_count                      5336 non-null   object
 33  facility_patient_experience_measures_count             5336 non-null   object
 34  patient_experience_measures_footnote                   2045 non-null   float64
 35  timely_and_effective_care_measures_count               5336 non-null   object
 36  facility_timely_and_effective_care_measures_count      5336 non-null   object
 37  timely_and_effective_care_measures_footnote            929 non-null    float64
dtypes: bool(1), float64(6), int64(1), object(30)
memory usage: 1.5+ MB

In [269]:
provider_info['provider_id'] = pd.to_numeric(provider_info['provider_id'], errors='coerce')

In [270]:
#Identify null values in the provider_id and remove them
provider_info.isnull().sum()

provider_id                                                35
hospital_name                                               0
address                                                     0
city                                                        0
state                                                       0
zip_code                                                    0
county_name                                                 0
phone_number                                                0
hospital_type                                               0
hospital_ownership                                          0
emergency_services                                          0
meets_criteria_for_promoting_interoperability_of_ehrs    1450
hospital_overall_rating                                     0
hospital_overall_rating_footnote                         3270
mortality_group_measure_count                               0
facility_mortaility_measures_count                          0
mortality_measures_better_count                             0
mortality_measures_no_different_count                       0
mortality_measures_worse_count                              0
mortaility_group_footnote                                3963
safety_measures_count                                       0
facility_care_safety_measures_count                         0
safety_measures_better_count                                0
safety_measures_no_different_count                          0
safety_measures_worse_count                                 0
safety_group_footnote                                    3555
readmission_measures_count                                  0
facility_readmission_measures_count                         0
readmission_measures_better_count                           0
readmission_measures_no_different_count                     0
readmission_measures_worse_count                            0
readmission_measures_footnote                            4353
patient_experience_measures_count                           0
facility_patient_experience_measures_count                  0
patient_experience_measures_footnote                     3291
timely_and_effective_care_measures_count                    0
facility_timely_and_effective_care_measures_count           0
timely_and_effective_care_measures_footnote              4407
dtype: int64

In [271]:
#Removing the null values so that we can be to join provide_id on the inpatient and outpatient data
provider_info=provider_info.dropna(subset=['provider_id'])
provider_info['provider_id']=provider_info['provider_id'].astype('int64')

In [272]:
provider_info.head(3)

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,hospital_type,hospital_ownership,...,readmission_measures_better_count,readmission_measures_no_different_count,readmission_measures_worse_count,readmission_measures_footnote,patient_experience_measures_count,facility_patient_experience_measures_count,patient_experience_measures_footnote,timely_and_effective_care_measures_count,facility_timely_and_effective_care_measures_count,timely_and_effective_care_measures_footnote
0,10018,CALLAHAN EYE HOSPITAL,"1720 UNIVERSITY BLVD, SUITE 500",BIRMINGHAM,AL,35233,Jefferson,(205) 325-8100,Acute Care Hospitals,Voluntary non-profit - Private,...,0,1,0,NaN,8,Not Available,5.0,14,3,NaN
1,10051,GREENE COUNTY HOSPITAL,509 WILSON AVENUE,EUTAW,AL,35462,Greene,(205) 372-3388,Acute Care Hospitals,Government - Local,...,0,1,0,NaN,8,Not Available,5.0,14,3,NaN
2,10102,J PAUL JONES HOSPITAL,317 MCWILLIAMS AVENUE,CAMDEN,AL,36726,Wilcox,(334) 682-4131,Acute Care Hospitals,Voluntary non-profit - Other,...,0,1,0,NaN,8,Not Available,5.0,14,3,NaN

Combining and merging the data

In [273]:
#save the provider_info dataset to both the inpatient and outpatient database
provider_info.to_sql(name='provider_information',con=conn,if_exists='replace',index=False)
provider_info.to_sql(name='provider_information',con=conn2,if_exists='replace',index=False)

5301

In [274]:
#Create a function that merges the inpatient and outpatient data with the provider info
def merge_data(df,provider_info):
    merged_df=pd.merge(df,provider_info,on='provider_id',how='inner')
    return merged_df

In [275]:
#merge the outpatient data to one csv file without joining with provider_info dataset
outpatient_concat=pd.concat([outpatient_2011,outpatient_2012,outpatient_2013])

In [276]:
print(f"outpatient_concat:{outpatient_concat.shape}")
print(f"outpatient_2011:{outpatient_2011.shape}")
print(f"outpatient_2012:{outpatient_2012.shape}")
print(f"outpatient_2013:{outpatient_2013.shape}")

outpatient_concat:(131510, 10)
outpatient_2011:(43372, 10)
outpatient_2012:(43783, 10)
outpatient_2013:(44355, 10)

In [277]:
#merge the outpatient data to one csv file joining with provider_info dataset
outpatient_2011_info=merge_data(df=outpatient_2011,provider_info=provider_info)
outpatient_2012_info=merge_data(df=outpatient_2012,provider_info=provider_info)
outpatient_2013_info=merge_data(df=outpatient_2013,provider_info=provider_info)

In [278]:
print(f"outpatient_info_2011:{outpatient_2011_info.shape}")
print(f"outpatient_info_2012:{outpatient_2012_info.shape}")
print(f"outpatient_info_2013:{outpatient_2013_info.shape}")

outpatient_info_2011:(40204, 47)
outpatient_info_2012:(40958, 47)
outpatient_info_2013:(41796, 47)

In [279]:
#merge the outpatient data to one csv file without joining with provider_info dataset
inpatient_concat=pd.concat([inpatient_2011,inpatient_2012,inpatient_2013])
print(f"inpatient_df: {inpatient_concat.shape}")

inpatient_df: (30000, 12)

In [280]:
print(f"inpatient_concat:{inpatient_concat.shape}")
print(f"inpatient_2011:{inpatient_2011.shape}")
print(f"inpatient_2012:{inpatient_2012.shape}")
print(f"inpatient_2013:{inpatient_2013.shape}")

inpatient_concat:(30000, 12)
inpatient_2011:(10000, 12)
inpatient_2012:(10000, 12)
inpatient_2013:(10000, 12)

In [281]:
#merge the inpatient data to one csv file joined with provider_info dataset
inpatient_2011_info=merge_data(df=inpatient_2011,provider_info=provider_info)
inpatient_2012_info=merge_data(df=inpatient_2012,provider_info=provider_info)
inpatient_2013_info=merge_data(df=inpatient_2013,provider_info=provider_info)

In [282]:
print(f"inpatient_info_2011:{inpatient_2011_info.shape}")
print(f"inpatient_info_2012:{inpatient_2012_info.shape}")
print(f"inpatient_info_2013:{inpatient_2013_info.shape}")

inpatient_info_2011:(9232, 49)
inpatient_info_2012:(9303, 49)
inpatient_info_2013:(9381, 49)

In [283]:
inpatient_2011.shape

(10000, 12)

In [284]:
# Query to combine inpatient records and join with provider information
query = '''
    SELECT * FROM (
        SELECT * FROM inpatient_charges_2011
        UNION ALL
        SELECT * FROM inpatient_charges_2012
        UNION ALL
        SELECT * FROM inpatient_charges_2013
    ) AS all_inpatient
    INNER JOIN provider_info
    ON all_inpatient.provider_id = provider_info.provider_id;
'''

# Run the query and convert result to a DataFrame
combined_inpatient_df = pd.read_sql_query(query, conn)

In [285]:
query2= '''
    SELECT * FROM (
        SELECT * FROM outpatient_charges_2011
        UNION ALL
        SELECT * FROM outpatient_charges_2012
        UNION ALL
        SELECT * FROM outpatient_charges_2013
    ) AS all_outpatient
    INNER JOIN provider_information
    ON all_outpatient.provider_id=provider_information.provider_id
'''
#Run query and convert results to a dataframe
combined_outpatient_df=pd.read_sql_query(query2,conn2)

In [286]:
print(f"combined_outpatient_df: {combined_outpatient_df.shape}")
print(f"combined_inpatient_df: {combined_inpatient_df.shape}")

combined_outpatient_df: (122958, 48)
combined_inpatient_df: (27916, 50)

In [294]:
#close the connections forn inpatient and outpatient
conn.close()
conn2.close()

ANALYSIS

In [295]:
conn3=sqlite3.connect('inpatient_charges.sql')
#attach the second databases within the same connection
conn3.execute("ATTACH DATABASE 'outpatient_charges.db' AS outpatient_charges;")

In [298]:
#Test the connection
inp=pd.read_sql_query("SELECT * FROM inpatient_charges_2011",conn3)

In [299]:
inp.head(2)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,icd_category
0,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,15,2459.400000,2901.266667,2075.400000,G81
1,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,35,2749.942857,4784.514286,4018.542857,T79

# Analysis 1: Average Outpatient and Inpatient Medicare Payments Ranked by Provider for Each Year

In [305]:
# Analysis 1: Average Outpatient and Inpatient Medicare Payments Ranked by Provider for Each Year
outpatient_inpatient_query = """
WITH outpatient_avg AS (
    SELECT 
        provider_id,
        AVG(average_total_payments) AS avg_outpatient_payments,
        '2011' AS year
    FROM outpatient_charges_2011
    GROUP BY provider_id
    UNION ALL
    SELECT 
        provider_id,
        AVG(average_total_payments) AS avg_outpatient_payments,
        '2012' AS year
    FROM outpatient_charges_2012
    GROUP BY provider_id
    UNION ALL
    SELECT 
        provider_id,
        AVG(average_total_payments) AS avg_outpatient_payments,
        '2013' AS year
    FROM outpatient_charges_2013
    GROUP BY provider_id
),
ranked_outpatient AS (
    SELECT
        provider_id,
        avg_outpatient_payments,
        year,
        RANK() OVER (PARTITION BY year ORDER BY avg_outpatient_payments DESC) AS outpatient_rank
    FROM outpatient_avg
),
inpatient_avg AS (
    SELECT 
        provider_id,
        AVG(average_medicare_payments) AS avg_inpatient_payments,
        '2011' AS year
    FROM inpatient_charges_2011
    GROUP BY provider_id
    UNION ALL
    SELECT 
        provider_id,
        AVG(average_medicare_payments) AS avg_inpatient_payments,
        '2012' AS year
    FROM inpatient_charges_2012
    GROUP BY provider_id
    UNION ALL
    SELECT 
        provider_id,
        AVG(average_medicare_payments) AS avg_inpatient_payments,
        '2013' AS year
    FROM inpatient_charges_2013
    GROUP BY provider_id
),
ranked_inpatient AS (
    SELECT
        provider_id,
        avg_inpatient_payments,
        year,
        RANK() OVER (PARTITION BY year ORDER BY avg_inpatient_payments DESC) AS inpatient_rank
    FROM inpatient_avg
)
SELECT 
    o.provider_id,
    o.year,
    o.avg_outpatient_payments,
    o.outpatient_rank,
    i.avg_inpatient_payments,
    i.inpatient_rank
FROM ranked_outpatient o
JOIN ranked_inpatient i ON o.provider_id = i.provider_id AND o.year = i.year
ORDER BY o.year, o.outpatient_rank, i.inpatient_rank;
"""

# Execute the query and load into a DataFrame
outpatient_inpatient_results = pd.read_sql_query(outpatient_inpatient_query, conn3)

In [306]:
outpatient_inpatient_results.head()

,provider_id,year,avg_outpatient_payments,outpatient_rank,avg_inpatient_payments,inpatient_rank
0,30107,2011,462.083839,23,12048.949262,19
1,100243,2011,438.411562,43,7902.124630,99
2,30120,2011,426.949759,49,4410.522809,207
3,30126,2011,424.002125,53,7377.514931,117
4,370041,2011,410.856460,67,4276.255953,208

In [309]:
# Assuming outpatient_inpatient_results has columns like:
# 'provider_id', 'year', 'avg_outpatient_payments', 'outpatient_rank',
# 'avg_inpatient_payments', and 'inpatient_rank'

# Pivot table to see average payments per provider by year
pivot_result = outpatient_inpatient_results.pivot_table(
    index='provider_id',       # Rows will be providers
    columns='year',            # Columns will be years
    values=['avg_outpatient_payments', 'avg_inpatient_payments'],  # Values to aggregate
    aggfunc='mean'             # Aggregation function (can also use 'sum', 'median', etc.)
)

pivot_result

            avg_inpatient_payments                              \
year                          2011          2012          2013
provider_id
10022                  4944.544657   4884.221731   5359.783561
30036                  9026.921661   8285.468430   8971.192972
30065                  9058.497748   9133.159810   9639.627801
30088                  7169.260466   7213.271465   7552.751495
30105                  8038.625904   8277.907131   8109.794228
...                            ...           ...           ...
460004                         NaN   8204.856878   8498.725837
460005                         NaN   6295.208324   7181.904837
460017                         NaN  13305.578950  10190.966667
460039                         NaN   4086.636364           NaN
460041                         NaN   6006.391300   5793.714286

            avg_outpatient_payments
year                           2011        2012        2013
provider_id
10022                    268.102885  257.127922  296.943436
30036                    213.540802  201.865448  216.093641
30065                    315.835739  353.147403  243.486947
30088                    236.931141  230.747637  235.728499
30105                    377.159040  433.832461  372.997054
...                             ...         ...         ...
460004                          NaN  246.315595  242.662978
460005                          NaN  208.080532  183.767439
460017                          NaN  381.139275  370.751777
460039                          NaN  308.054646         NaN
460041                          NaN  200.781230  185.002793

[226 rows x 6 columns]